<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> 
<plist version="1.0"> 
    <dict> 
        <key>00</key> 
        <string>入门武器 用简单的炮弹攻击敌人 似乎没有什么其他功能 物理攻击</string> 
        <key>01</key> 
        <string>会溅射的塔 当炮弹爆炸时 可同时对一定范围内的多个敌人造成物理伤害</string> 
        <key>02</key> 
        <string>在子弹中加入冰冻药剂 可降低击中目标的移动速度 造成物理伤害 减速为魔法特效</string> 
        <key>03</key> 
        <string>神奇的子弹会穿透敌人 对一条直线上的敌人造成物理伤害</string> 
        <key>04</key> 
        <string>子弹中包含毒性药剂 被击中的 敌人将持续受到毒的伤害 毒为魔法特效</string> 
        <key>05</key> 
        <string>当对某个目标连续攻击超过一定次数时 便可以激发狂暴特效 使攻击速度大大提升 造成物理伤害</string> 
        <key>06</key> 
        <string>使用魔法对敌人造成无视护甲的伤害</string> 
        <key>07</key> 
        <string>拥有三个小炮 可以同时攻击三个敌人 造成物理伤害</string> 
        <key>08</key> 
        <string>使用魔法波攻击一条直线上的 敌人 并在短时间内降低其移动速度</string> 
        <key>09</key> 
        <string>使用特制的炮弹 能在每次攻击中获取资源 获取资源的速度正比于攻击速度 造成物理伤害</string> 
        <key>10</key> 
        <string>AOE中的战斗机 在炮弹中附带颜色资源 爆炸时造成极高的物理伤害 资源会随着攻击而消耗 消耗的速度正比于塔内资源总和</string> 
        <key>11</key> 
        <string>强力控场 可以射出数条魔法绳索 使敌人无法移动</string> 
        <key>12</key> 
        <string>功能全面的武器 能射出一个弹射球 弹射造成物理伤害 附带减速特效</string> 
        <key>13</key> 
        <string>护甲的克星 使用尖锤攻击敌人 造成高额伤害并击碎护甲</string> 
        <key>14</key> 
        <string>射程之王 锁定冲在最前方的敌人 若目标生命值低于一定比例 则直接秒杀 在攻击距离较近的敌人时攻击伤害减半 造成物理伤害</string> 
        <key>15</key> 
        <string>对周围的敌人造成影伤害 即对魔免单位伤害加倍 非魔免单位伤害减半 影伤害无视护甲效果</string> 
        <key>16</key> 
        <string>喷出魔法毒雾 使扇形区域内的敌人受到持续的毒伤害</string> 
        <key>17</key> 
        <string>向周围敌人发射魔法飞弹 可选择攻击单个或者多个目标</string> 
        <key>18</key> 
        <string>使用利刃攻击敌人 并且可以借助正在攻击的建筑来拓展攻击范围 造成物理伤害</string> 
        <key>19</key> 
        <string>产生高能的引力场破坏周围敌人的护甲 造成较低的物理伤害 降低护甲的效果可叠加</string> 
        <key>20</key> 
        <string>放出一枚自动定位飞弹跟踪敌人 造成的物理伤害会随着飞弹的飞行而增高</string> 
        <key>21</key> 
        <string>可投掷一张网 将目标困住 然后慢慢搞定 网的限制效果无视魔免</string> 
        <key>22</key> 
        <string>每当其攻击时 能呼唤战场上所有同类塔 使它们额外攻击一次 造成魔法伤害</string> 
        <key>23</key> 
        <string>锁定一个目标持续攻击 直至目标死亡或到达终点 若目标到达终点 则倾尽塔内资源进行一次拦截攻击</string> 
        <key>24</key> 
        <string>向周围抛掷剧毒药剂 若被击中的目标处于中毒状态 则加剧目标的毒伤害 否则只会造成一次性的物理伤害</string> 
        <key>25</key> 
        <string>不稳定的建筑 当充满资源颜色为白色时 会分裂为两座塔 攻击时造成小范围的物理伤害</string> 
        <key>26</key> 
        <string>喷出大波 对途经的 敌人造成极高物理伤害</string> 
        <key>27</key> 
        <string>攻击BOSS使其进入伤害扩散状态 每当其受到伤害 则会波及周围的其他敌人</string> 
        <key>28</key> 
        <string>在炮弹中加入魔法药剂 被击中的目标死亡时会爆炸 对附近的敌人造成伤害并短暂减速</string> 
        <key>29</key> 
        <string>可在攻击的同时吸收或释放自身资源 向周围造成物理伤害 吸能时造成的伤害会被范围内的敌人均摊</string> 
        <key>30</key> 
        <string>聚怪神器 AOE的好搭档 能放出一条沟壑 阻挡敌人前进 物理伤害 阻挡效果无视魔免</string> 
        <key>31</key> 
        <string>可使用绳索把敌人拉至更近的位置 造成物理伤害 牵引效果无视魔免</string> 
        <key>1988</key> 
        <string>每关可以选择 六种武器 666666</string> 
    </dict> 
</plist> 